@using Sitecore.Foundation.Commerce.Extensions
@*//-----------------------------------------------------------------------
    // Copyright 2016 Sitecore Corporation A/S
    // Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
    // except in compliance with the License. You may obtain a copy of the License at
    //       http://www.apache.org/licenses/LICENSE-2.0
    //
    // Unless required by applicable law or agreed to in writing, software distributed under the
    // License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    // either express or implied. See the License for the specific language governing permissions
    // and limitations under the License.
    // -------------------------------------------------------------------------------------------*@




<div class="headline text-center">
    <h3>@Html.Sitecore().Text("/Orders/Cart Summary/Order Total", "Order total")</h3>
</div>
<table class="table table-striped">
    <tr>
        <td>@Html.Sitecore().Text("/Orders/Cart Summary/Payment Total", "Total payment:")</td>
        <td class="text-right"><strong data-bind="text: subTotal" pid="subtotal"></strong></td>
    </tr>
    <tr>
        <td>@Html.Sitecore().Text("/Orders/Cart Summary/VAT", "VAT:")</td>
        <td class="text-right" data-bind="text: taxTotal" pid="taxTotal"></td>
    </tr>
    <tr>
        <td>@Html.Sitecore().Text("/Orders/Cart Summary/Shipping Total", "Shipping:")</td>
        <td class="text-right" data-bind="text: shippingTotal" pid="shippingTotal"></td>
    </tr>
    <tr>
        <td><strong>@Html.Sitecore().Text("/Orders/Cart Summary/Order Total", "Order total:")</strong></td>
        <td class="text-right"><strong data-bind="text: total" pid="total"></strong></td>
    </tr>
    <tr>
        <td><em>@Html.Sitecore().Text("/Orders/Cart Summary/Savings", "Savings:")</em></td>
        <td class="text-right">
            <em pid="discountTotal" data-bind="text: discount"></em>
        </td>
    </tr>
</table>