@using Sitecore.Foundation.Assets.Models
@using Sitecore.Foundation.Assets.Services
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Reference.Storefront.Managers
@inherits WebViewPage
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    @MetadataManager.GetTags()

    @if (!Sitecore.Context.PageMode.IsExperienceEditor)
    {
        @Html.Sitecore().Placeholder("head")
    }
    <!-- Latest compiled and minified JavaScript -->
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Head)
    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/knockout")
    @Scripts.Render("~/js/jqueryval")
    @Scripts.Render("~/js/storefront")

    @RenderAssetsService.Current.RenderStyles()
    @Html.Sitecore().VisitorIdentification()
</head>

<body class="@(Sitecore.Context.PageMode.IsExperienceEditor ? "header-static" : "") @(Sitecore.Context.PageMode.IsNormal ? "" : (Sitecore.Context.PageMode.IsExperienceEditor ? "pagemode-edit" : "pagemode-preview"))">
    <script type="text/javascript">
        var currentCategory;

        @{
            var siteContext = CommerceTypeLoader.CreateInstance<ISiteContext>();
            bool isCategory = siteContext.IsCategory;
            var catalogItem = siteContext.CurrentCatalogItem;
            if (isCategory && catalogItem != null)
            {
                @:currentCategory = "@catalogItem.ID.ToString()";
            }
        }
    </script>

    <form id="_CRSFform" action="#" method="post">
        @Html.AntiForgeryToken()
    </form>

    <div id="main-container">
        <header class="@(Sitecore.Context.PageMode.IsExperienceEditor ? "header-static" : "header-fixed")">
            @Html.Sitecore().Placeholder("header-top")

            @Html.Sitecore().Placeholder("navbar")
        </header>
        <main role="main">
            @Html.Sitecore().Placeholder("page-layout")
        </main>
        <footer>
            @Html.Sitecore().Placeholder("footer")
        </footer>

        @Html.Sitecore().Placeholder("page-sidebar")
    </div>
    @RenderAssetsService.Current.RenderScript(ScriptLocation.Body)
</body>
</html>