@*//-----------------------------------------------------------------------
    // Copyright 2016 Sitecore Corporation A/S
    // Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
    // except in compliance with the License. You may obtain a copy of the License at
    //       http://www.apache.org/licenses/LICENSE-2.0
    //
    // Unless required by applicable law or agreed to in writing, software distributed under the
    // License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    // either express or implied. See the License for the specific language governing permissions
    // and limitations under the License.
    // -------------------------------------------------------------------------------------------*@
@using Sitecore.Commerce.Entities.Inventory
@using Sitecore.Feature.Commerce.Catalog.Website
@using Sitecore.Foundation.Commerce.Website.Extensions
@model Sitecore.Feature.Commerce.Catalog.Website.Models.ProductViewModel
@{
    if (Model == null)
    {
        return;
    }
}

@if (Model.Item.Fields[Templates.Generated.Product.Fields.Brand]?.HasValue ?? false)
{
    <span class="label label-default">@Html.Sitecore().Field(Templates.Generated.Product.Fields.Brand, Model.Item)</span>
    <span>&#160;</span>
}
@if (Model.CustomerAverageRating > 3)
{
    <span class="label">
        <span class="@(Model.CustomerAverageRating >= 1 ? "text-primary" : "text-muted")"><span class="glyphicon glyphicon-star"></span></span>
        <span class="@(Model.CustomerAverageRating >= 2 ? "text-primary" : "text-muted")"><span class="glyphicon glyphicon-star"></span></span>
        <span class="@(Model.CustomerAverageRating >= 3 ? "text-primary" : "text-muted")"><span class="glyphicon glyphicon-star"></span></span>
        <span class="@(Model.CustomerAverageRating >= 4 ? "text-primary" : "text-muted")"><span class="glyphicon glyphicon-star"></span></span>
        <span class="@(Model.CustomerAverageRating >= 5 ? "text-primary" : "text-muted")"><span class="glyphicon glyphicon-star"></span></span>
    </span>
                <span>&#160;</span>
}
@if (Model.StockStatus == StockStatus.OutOfStock)
{
    <span class="label label-warning">@Html.Sitecore().Text("/Catalog/Search Results/Out of Stock", "Out of Stock")</span>
    <span>&#160;</span>
}
@if (Model.StockStatus == StockStatus.PreOrderable)
{
    <span class="label label-info">@Html.Sitecore().Text("/Catalog/Search Results/Preorderable", "Pre-order")</span>
    <span>&#160;</span>
}
@if (Model.IsOnSale)
{
    <span class="label label-success">@Html.Sitecore().Text("/Catalog/Search Results/On Sale", "On Sale!")</span>
    <span>&#160;</span>
}
