@using Sitecore.Foundation.Commerce.Website.Extensions
@using Sitecore.Foundation.Commerce.Website.Managers
@*//-----------------------------------------------------------------------
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
// -------------------------------------------------------------------------------------------*@
@using Sitecore.Foundation.Dictionary.Repositories;

<div class="row" id="addressesSection">
    <div class="col-md-12 m-b-1">
        <div class="col-md-4">
            <div class="form-group">
                <label for="addressBookChange">@Html.Sitecore().Text("/Customers/Addresses/Change Address", "Change address")</label>
                <select id="addressBookChange" class="form-control" data-bind='options: addresses(), optionsValue : "externalId", optionsText: "fullAddress", optionsCaption: "@Html.Sitecore().CurrentItem["New Address Label"]", value: selectedAddress'></select>
            </div>
        </div>
    </div>
    <div class="col-md-12" data-bind="with: address" id="addressContainer">
        <div class="col-md-4">
            <div class="form-group">
                <label for="addressBook-Name">
                    @Html.Sitecore().Text("/Customers/Addresses/Name", "Name")<span class="required">*</span>
                </label>
                <input type="text" class="form-control" id="addressBook-Name" placeholder="@Html.Sitecore().Text("/Customers/Addresses/Enter Name", "Enter the address name")" data-bind="text: name, value: name" required>
            </div>
            <div class="form-group">
                <label for="addressBook-City">
                    @Html.Sitecore().Text("/Customers/Addresses/City", "City")<span class="required">*</span>
                </label>
                <input type="text" class="form-control" id="addressBook-City" placeholder="@Html.Sitecore().Text("/Customers/Addresses/Enter City", "Enter the address city")" data-bind="text: city, value: city" required>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="addressBook-Country">
                    @Html.Sitecore().Text("/Customers/Addresses/Country", "Country")<span class="required">*</span>
                </label>
                <select id="addressBook-Country" class="form-control" data-bind='options: $root.countries(), optionsValue: "code", optionsText: "name", optionsCaption: "@Html.Sitecore().Text("/Customers/Addresses/Select Country", "Select Country")", value: country' required></select>
            </div>
            <div class="form-group">
                <label for="addressBook-Region">
                    @Html.Sitecore().Text("/Customers/Addresses/State", "State")<span class="required">*</span>
                </label>
                @*<select id="addressBook-Region" class="form-control" data-bind='options: regions(), optionsValue: "code", optionsText: "name", value: Region'></select>*@
                <input type="text" class="form-control" id="addressBook-Region" placeholder="@Html.Sitecore().Text("/Customers/Addresses/Enter State", "Enter the state or province")" data-bind="text: region, value: region" required>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="addressBook-Address">
                    @Html.Sitecore().Text("/Customers/Addresses/Address", "Address")<span class="required">*</span>
                </label>
                <input type="text" class="form-control" id="addressBook-Address" placeholder="@Html.Sitecore().Text("/Customers/Addresses/Enter Address", "Enter the street address or postbox")" data-bind="text: address1, value: address1" required>
            </div>
            <div class="form-group">
                <label for="addressBook-Zipcode">
                    @Html.Sitecore().Text("/Customers/Addresses/Zip Code", "Zip code")<span class="required">*</span>
                </label>
                <input type="text" class="form-control" id="addressBook-Zipcode" placeholder="@Html.Sitecore().Text("/Customers/Addresses/Enter Zip Code", "Enter the zip or postal code")" data-bind="text: zipPostalCode, value: zipPostalCode" required>
            </div>
        </div>
        <div class="col-md-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-bind="checked: isPrimary"> @Html.Sitecore().Text("/Customers/Addresses/Set As Primary", "Set as primary address")
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-12 m-t-1">
        <button type="button" id="saveAddress" class="btn btn-primary" data-bind="click: saveAddress, enable: enableSave" data-loading-text="@Html.Sitecore().Text("/Customers/Addresses/Saving", "Saving...")">
            @Html.Sitecore().Text("/Customers/Addresses/Save", "Save changes")
        </button>
        <a type="button" id="cancelChanges" class="btn btn-default" href="@("/accountmanagement")">
            @Html.Sitecore().Text("/Customers/Addresses/Cancel", "Cancel")
        </a>
        <button type="button" id="deleteAddress" class="btn btn-default m-l-1" data-bind="click: deleteAddress, enable: enableDelete" data-loading-text="@Html.Sitecore().Text("/Customers/Addresses/Deleting", "Deleting...")" data-text="@Html.Sitecore().Text("/Customers/Addresses/Delete", "Delete")">
            <span class="glyphicon glyphicon-remove"></span> @Html.Sitecore().Text("/Customers/Addresses/Delete", "Delete")
        </button>
    </div>
</div>

    <script type="text/javascript">
        $(document).ready(function () {
            ko.validation.localize({ required: '@DictionaryPhraseRepository.Current.Get("/Customers/Addresses/Required Field", "This field is required.")' });
            initAddressList("addressesSection");
        });
    </script>
