@*//-----------------------------------------------------------------------
    // Copyright 2016 Sitecore Corporation A/S
    // Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
    // except in compliance with the License. You may obtain a copy of the License at
    //       http://www.apache.org/licenses/LICENSE-2.0
    //
    // Unless required by applicable law or agreed to in writing, software distributed under the
    // License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    // either express or implied. See the License for the specific language governing permissions
    // and limitations under the License.
    // -------------------------------------------------------------------------------------------*@
@using Sitecore.Collections
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Commerce.Connect.CommerceServer
@using Sitecore.Commerce.Entities.Inventory
@using Sitecore.Feature.Commerce.Catalog
@using Sitecore.Demo.Retail.Foundation.Commerce.Website.Extensions
@model Sitecore.Demo.Retail.Feature.Catalog.Website.Models.ProductViewModel
@{
    if (Model == null)
    {
        return;
    }
}

<div class="thumbnail">
    @{
        var thumbnailUrl = Model.GetThumbnailUrl(300);
        if (thumbnailUrl != null)
        {
            <div style="position: relative">
                @if (Model.OverlayImage != null)
                {
                    // TODO: Move the following hard-coded style settings to .css.
                    <div style="position: absolute; top: 25px; left: 25px;">
                        <img src="@(Model.OverlayImage.ImageUrl(50, 50))" alt="On sale!" />
                    </div>
                }

                <a href="@Model.GetLink()">
                    <img src="@thumbnailUrl" class="img-responsive" alt="product image" title="@Model.Title" />
                </a>
            </div>
        }
    }

    <div class="caption">
        <div>
            @Html.Partial("~/Views/Catalog/_ProductLabels.cshtml", Model)
        </div>
        <h4>
            <a href="@Model.GetLink()">
                @Model.Title
            </a>
        </h4>

        <div>
            @Html.Partial("~/Views/Catalog/_ProductPrice.cshtml", Model)
        </div>
        <div class="p-t-1">
            <a href="@Model.GetLink()" class="btn btn-xs btn-default">
                @Html.Sitecore().Text("/Catalog/Product Summary/More Details", "More details") <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>
