@*//-----------------------------------------------------------------------
    // Copyright 2016 Sitecore Corporation A/S
    // Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
    // except in compliance with the License. You may obtain a copy of the License at
    //       http://www.apache.org/licenses/LICENSE-2.0
    //
    // Unless required by applicable law or agreed to in writing, software distributed under the
    // License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    // either express or implied. See the License for the specific language governing permissions
    // and limitations under the License.
    // -------------------------------------------------------------------------------------------*@
@using Sitecore.Collections
@using Sitecore.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Commerce.Connect.CommerceServer
@using Sitecore.Foundation.Commerce.Extensions
@model Sitecore.Feature.Commerce.Catalog.Models.CategoryViewModel
@{
    if (Model == null)
    {
        return;
    }
}

<div class="media">
    <div class="media-body ">
        <h2>
            <a href="@Model.GetLink()">
                @Model.Title
            </a>
        </h2>
        <p>
            @Model.Description
        </p>
        <div>
            <a href="@Model.GetLink()" class="btn btn-xs btn-default" title="@Model.Title">
                @Html.Sitecore().Text("/Catalog/Search Results/Category Link", "See all products") <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
    <div class="media-right">
        @if (Model.GetThumbnailUrl(150) != null)
        {
            <a href="@Model.GetLink()">
                <img src="@(Model.GetThumbnailUrl(150))" alt="@Model.Title" title="@Model.Title" />
            </a>
        }
    </div>
</div>
