@*//-----------------------------------------------------------------------
    // Copyright 2016 Sitecore Corporation A/S
    // Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
    // except in compliance with the License. You may obtain a copy of the License at
    //       http://www.apache.org/licenses/LICENSE-2.0
    //
    // Unless required by applicable law or agreed to in writing, software distributed under the
    // License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    // either express or implied. See the License for the specific language governing permissions
    // and limitations under the License.
    // -------------------------------------------------------------------------------------------*@

@using Sitecore.Foundation.Commerce.Managers

<li class="dropdown" id="B02-Basket">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-shopping-cart"></span><span class="badge bg-primary" id="miniCartItemCount" data-bind="text: lineitemcount"></span> 
    </a>
    <div class="dropdown-menu">
        <ul class="media-list" data-bind="foreach: miniCartItems, visible:miniCartItems().length">
            <li class="media" data-bind="attr: {'data-ajax-lineitemid': externalCartlineId}">
                <div class="media-left">
                    <a data-bind="attr:{ href:productUrl}">
                        <img class="media-object" alt="a" data-bind="attr:{src: image, alt: title}">
                    </a>
                </div>
                <div class="media-body">
                    <a data-bind="attr:{ href:productUrl}">
                        <strong class="media-heading" data-bind="text: title">
                        </strong>
                    </a>
                    <p>
                        @Html.Sitecore().Field("Quantity", Html.Sitecore().CurrentItem) <strong data-bind="text: quantity"></strong><br/>
                        @Html.Sitecore().Field("Price", Html.Sitecore().CurrentItem) <strong data-bind="text: linePrice"></strong>
                    </p>
                </div>
                <div class="media-right">
                    <a href="#" class="text-primary">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
            </li>
        </ul>
        <div class="m-b-1">
            <strong>
                @Html.Sitecore().Field("Total", Html.Sitecore().CurrentItem) <span data-bind="text: total"></span>
            </strong>
        </div>
        <div>
            <button type="button" id="rsf-btn-checkout" onclick="window.location.href = '@("/Checkout")'" class="btn btn-block btn-primary">@Html.Sitecore().Field("CheckoutLabel", Html.Sitecore().CurrentItem)</button>
            <a class="btn btn-block btn-default" href="@("/ShoppingCart")">@Html.Sitecore().Field("ViewCartLabel", Html.Sitecore().CurrentItem)</a>
        </div>
    </div>
</li>

<script type="text/javascript">
    initMiniShoppingCart("B02-Basket");
</script>