@*//-----------------------------------------------------------------------
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
// -------------------------------------------------------------------------------------------*@
@using Sitecore.Foundation.Commerce.Managers;
@using Sitecore.Foundation.Dictionary.Repositories
@model Sitecore.Feature.Commerce.Orders.Models.CartViewModel
@{
    if (Model == null)
    {
        return;
    }
}

<div id="checkoutContainer">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Sitecore().FormHandler()
        
        <div id="shippingStep">
            @Html.Partial("_Delivery", Model)
        </div>

        <div id="billingStep" style="display:none;">
            @Html.Partial("_Billing", Model)
        </div>

        <div id="reviewStep" style="display:none;">
            @Html.Partial("_Confirm", Model)
        </div>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            ko.validation.localize({ required: '@DictionaryPhraseRepository.Current.Get("/Cart/Checkout/Required Field", "This field is required.")' });
            ko.validation.localize({ email: '@DictionaryPhraseRepository.Current.Get("/Cart/Checkout/Requires Email Address", "Please enter a valid email address.")' });
            ko.validation.localize({ number: '@DictionaryPhraseRepository.Current.Get("/Cart/Checkout/Requires Number", "Please enter a number.")' });

            AddMessage('SelectDeliveryFirstMessage', '@DictionaryPhraseRepository.Current.Get("/Cart/Checkout/Select Delivery First", "Please select delivery before proceeding.")');
            AddMessage('EmailsMustMatchMessage', '@DictionaryPhraseRepository.Current.Get("/Cart/Checkout/Emails Must Match", "The entered emails does not match.")');

            initCheckoutData();
        });
    </script>
</div>