@using Sitecore.Foundation.Commerce.Extensions
@*//-----------------------------------------------------------------------
    // Copyright 2016 Sitecore Corporation A/S
    // Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
    // except in compliance with the License. You may obtain a copy of the License at
    //       http://www.apache.org/licenses/LICENSE-2.0
    //
    // Unless required by applicable law or agreed to in writing, software distributed under the
    // License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
    // either express or implied. See the License for the specific language governing permissions
    // and limitations under the License.
    // -------------------------------------------------------------------------------------------*@


@using (Ajax.BeginForm("ForgotPassword", "Customers", null, new AjaxOptions { OnBegin = "SetForgotPasswordProcessingButton", OnSuccess = "ForgotPasswordSuccess", OnFailure = "ForgotPasswordFailure", HttpMethod = "Post" }, new { @id = "ForgotPasswordForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <!-- CONTENT CONTAINER -->
    <div class="form-group">
        <label for="Email">
            @Html.Sitecore().Text("/Customers/Forgot Password/Email", "E-mail:") <span class="required">*</span> </label>
        <input id="Email" class="form-control input-validation-error" type="email" value="" name="Email" placeholder="@Html.Sitecore().Text("/Customers/Forgot Password/Enter email", "Enter your e-mail") ">
        <span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <button type="submit" id="forgotPasswordButton" data-loading-text="@Html.Sitecore().Text("/Customers/Forgot Password/Submitting", "Sending...") " class="btn btn-primary btn-lg btn-block">@Html.Sitecore().Text("/Customers/Forgot Password/Submit", "Send")</button>
        </div>
        <div class="col-lg-6">
            <a class="btn btn-default btn-lg btn-block" href="@("/Login")">@Html.Sitecore().Text("/Customers/Forgot Password/Cancel", "Cancel") </a>
        </div>
    </div>
}