@using Sitecore.Data.Items
@using Sitecore.Foundation.Commerce.Extensions
@*//-----------------------------------------------------------------------
// Copyright 2016 Sitecore Corporation A/S
// Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
// except in compliance with the License. You may obtain a copy of the License at
//       http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software distributed under the
// License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
// either express or implied. See the License for the specific language governing permissions
// and limitations under the License.
// -------------------------------------------------------------------------------------------*@

@using (Ajax.BeginForm("ChangePassword", "Customers", null, new AjaxOptions { OnBegin = "SetChangePasswordProcessingButton", OnSuccess = "ChangePasswordSuccess", OnFailure = "ChangePasswordFailure", HttpMethod = "Post" }, new { @id = "ChangePasswordForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <!-- CONTENT CONTAINER -->
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <label for="OldPassword">
                    @Html.Sitecore().Text("/Customers/Change Password/Current Password", "Current password") <span class="required">*</span> </label>
                <input id="OldPassword"
                        class="form-control input-validation-error"
                        type="password"
                        value=""
                        name="OldPassword"
                        data-val-required="@Html.Sitecore().Text("/Customers/Change Password/Current Password Required", "Please enter your current password.")"
                        autocomplete="off"> 
                <span class="field-validation-valid" data-valmsg-for="OldPassword" data-valmsg-replace="true"></span>                      
            </div>
            <div class="form-group">
                <label for="NewPassword">
                    @Html.Sitecore().Text("/Customers/Change Password/New Password", "New password") <span class="required">*</span> </label>
                <input id="NewPassword"
                        class="form-control input-validation-error"
                        type="password"
                        value=""
                        name="NewPassword"
                        data-val-length-min="6"
                        data-val-length-max="100"
                        data-val-required="@Html.Sitecore().Text("/Customers/Change Password/New Password Required", "Please enter a new password.")"
                        data-val-length="@Html.Sitecore().Text("/Customers/Change Password/New Password Length", "Your new password must be at least 6 characters long.")"
                        data-val="true"
                        autocomplete="off">
                <span class="field-validation-valid" data-valmsg-for="NewPassword" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group">
                <label for="ConfirmPassword">
                    @Html.Sitecore().Text("/Customers/Change Password/Repeat Password", "Repeat your new password") <span class="required">*</span> </label>
                <input id="ConfirmPassword"
                        class="form-control input-validation-error"
                        type="password"
                        value=""
                        name="ConfirmPassword"
                        data-val-required="@Html.Sitecore().Text("/Customers/Change Password/Repeat Password Required", "Please repeat your new password for verification.")"
                        data-val-equalto-other="*.NewPassword"
                        data-val-equalto="@Html.Sitecore().Text("/Customers/Change Password/Repeat Password Match", "Your new password and the verification does not match. Please try again.")"
                        data-val="true"
                        autocomplete="off">
                <span class="field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
            </div>
            <div class="m-t-1">
                <input type="submit" data-loading-text="@Html.Sitecore().Text("/Customers/Change Password/Saving", "Saving...")" value="@Html.Sitecore().Text("/Customers/Change Password/Saving", "Save Changes")" class="btn btn-primary" id="changePasswordButton" />
                <a type="button" href="@("/accountmanagement")" class="btn btn-default">@Html.Sitecore().Text("/Customers/Change Password/Cancel", "Cancel")</a>
            </div>
        </div>
    </div>
}